/*header*/
* {
    margin: 0;
    padding: 0;
}

.nav{
    background-color: rgb(39, 39, 39);
    display: flex;
    padding: 10px;
}
.nav-title{
    flex:4;
    color: white;
    margin: 20px;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

ul{
    list-style-type: none;
    display: flex; 
    
}
li{
    margin: auto;
    margin-left: 20px;
}
a{
    text-decoration: none;
    color: white;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn{
    background-color: rgb(38, 130, 192);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    box-shadow:  5px 5px black;
}
/*diseño*/

ul {
    list-style-type: none;
}

li {
    padding-left:20px;
}

.active {
    color: #FFFF;
    text-decoration: none;
    font-size: 20px;
    font-size: bold;
}

.btn {
    background-color: #5A96EA;
    color:antiquewhite;
    padding: 2px;
    border-color: black;
    font-size: 10px;
    box-shadow: 0px 0px 20px black;
    height: 50px;
    width: 100px;
    transition: transform 0.3s, background 0.3s;
}

.btn:hover {
    background-color: #3b639b; 
}
/*header*/

#container {
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-flow: wrap-reverse;
}

/*tarjeta*/

a {
    color: #5a96ea;
    text-decoration: none; 
}

/* imagenes */
.icon {
    height: 80px;
    width: 80px;
}

.marcador {
    height: 20px;
    width: 20px;
}

.icono {
    background-color: #FFFF;
    border-radius: 90px;
    padding: 2px;
    height: 80px;
    width: 80px;
}

.icono2 {
    background-color: #FFFF;
    border-radius: 90px;
    padding: 2px;
    height: 40px;
    width: 40px;
}

/* bases */
.flex{
    display: flex;
    height: 330px;
    width: 60%;
    box-shadow:0px 0px 20px black;
    background-color: #FFFF;
    margin: 20px;
    flex: 2;
}

.targeta {
    background-color: #17a2b8;
    height: 20px;
    width: 100%;
    padding: 30px;
}
.texto {
    height: 250px;
    width: 100%;
}

/*conocidos-en linae-education*/
#cuerpo-extras {
    height: 330px;
    flex: 1;
    margin: 20px;
    box-shadow:0px 0px 20px black;
    border-radius: 5px;
    border-color:rgb(124, 37, 37);
    border:2px solid rgb(184, 178, 178);
}

#cuerpo-extras2 {
    height: 300px;
    flex: 2;
    margin: 20px;
    box-shadow:0px 0px 20px black;
    border-radius: 5px;
    border-color:rgb(124, 37, 37);
    border:2px solid rgb(184, 178, 178);
}

#cabe-extras{
    height: 80px;
    background-color: #333333;
}

#body-extras {
    background-color: #ffff;
    padding: 20px;
}
#body-extras2 {
    background-color: #ffff;
    padding: 20px;
    font-size: 25px;
}

h3{
    color: #ffff ;
    padding: 20px;
}

