/* Estilos de paginas de viajes 
*{
    outline: solid black;
}
/*
body{ /* seleccion de body*/
font-family: Arial, sans-serif; /* cambia tipo grafia*/
margin: 0; /* elimina todo el margen predefinido/*
padding: 0; /* elimina todo el relleno de los elementos*/
}
/* aca viene el estilo de una clase container*/
.container {
    width: 80% ; /* establese el ancho del container en un 80% */
    margin: 0 auto; /* centra horizontalmente el container */
}
/* estilos de encabezado*/
header {
    background-color: #333; /*establece el color de fondo*/
    color: #fff;/ /* establece el color del texto*/
    padding: 20x 0; /* añade relleno en la parte inferior y superior*/
}
header h1{
    margin: 0; /* elimina el margen por defecto del titulo*/
}
/* estilo de elemento de lista*/
nav ul li{
    display: inline; /* alinea los elementos */
    margin-right: 20px; /* margen hacia la derecha*/
}

/* estilo a  elementos de vinculo anclka (a) de navegacion*/
nav ul a{
    color: #fff; /* color a elemento anchor*/
    text-decoration: none; /* quita subrayado de enlace*/
}
